font-style(weight = normal, size = 1rem, custom-font = null, color = #000) {
  font-weight weight
  font-size size
  font-family (custom-font) ? custom-font + ', ' + sans-serif:sans-serif
  color color
}