@import "variables.styl"
@import "mixins.styl"
@import "global.styl"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

*
  margin 0
  padding 0
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 3px


::-webkit-scrollbar-button
  background-color #666
  height 0


::-webkit-scrollbar-track
  background-color #999


::-webkit-scrollbar-track-piece
  background-color back-color


::-webkit-scrollbar-thumb
  height 50px
  background-color scroll-color


body
  width 100%
  height 100%
  background-color back-color


/* стили для шапки сайта */
.header
  position fixed
  top 0
  left 0
  width 100%
  height 70px
  background-color back-color
  z-index 2

  &__logo
    width 146px
    height 32px
    background-image url('../icons/logo.svg')

  &__nav
    display flex
    justify-content space-between
    align-items center
    position relative
    height inherit
    width inherit
    padding 0 30px

  &__list
    display flex
    gap 0 30px
    height inherit
    list-style none

  &__item
    display grid
    place-content center
    width 100%
    height inherit


/* стили для блока с постами */
.posts
  display flex
  justify-content center
  align-items center
  flex-direction column
  width 100%


/* стили для формы с комменатриями */
.comments
  position relative
  height auto

  .comment-edit,
  .comment-editor
    display grid
    place-items center start
    grid-template-columns auto 31px
    width 700px
    height 100%
    position relative
    margin-bottom 50px

    &:after
      content ''
      position absolute
      bottom -20px
      right 0
      transform translate(-50%, -50%)
      background-color line
      width 50%
      height 1.5px

    &__reply
      width 660px
      height 33px

  .comment
    display grid
    grid-template-columns repeat(auto-fill, minmax(min-content, 1fr))
    grid-template-rows repeat(auto-fill, minmax(min-content, 1fr))
    place-items center start
    position relative
    width 700px
    height auto
    border solid 1.5px border-color
    padding 15px
    border-radius 5px
    margin-bottom 20px

    &__content
      grid-column 1 / 4
      width 100%
      height auto
      text-align justify
      font-style(normal, 1rem, Roboto, text-color)
      margin-bottom 10px
      word-wrap break-word


    &__date-publication
      width max-content
      font-style(normal, 0.9rem, null, text-color-gr)


/* стили для профиля */
.profile
  display grid
  grid-template-columns 250px 1fr
  place-items center start
  position relative
  width 700px
  min-height 250px
  border solid 1.5px border-color
  border-radius 10px

  &__avatar
    justify-self center
    padding 60px
    border solid 1.5px border-color
    border-radius 50%

  &__list
    list-style none

  &__item
    margin 10px 0

  &__username
    font-style(normal, 1.2rem, Roboto, text-color)

  .username
    color primary-color
    font-weight bold

  &__status,
  &__email
    font-style(normal, 0.9rem, Roboto, text-color-gr)

  &__logout
    position absolute
    bottom 20px
    right 20px

  &__edit-btn
    position absolute
    bottom 10px
    left 30px
    background-color transparent
    font-size 1rem


/* стили для окна редактирования пользователя */
.profile-edit
  display none
  place-items center
  position fixed
  top 0
  left 0
  width 100%
  height 100vh
  background-color rgba(0, 0, 0, 0.5)
  z-index 2

  &__form
    display flex
    flex-direction column
    position relative
    width 800px
    height auto
    padding 20px
    gap 20px
    border solid 1.5px border-color
    border-radius 5px
    background-color back-color

  &__reply
    width 100%
    height 40px
    border-radius 5px

  &__btn
    width max-content
    background-color transparent
    align-self center

.user-posts
  margin-top 10px

  &__header
    margin 20px 0

  &__headline
    font-style(normal, 2rem, Roboto, text-color)


/* Стили для формы создания и редактирования поста */
.post-editor,
.post-edit
  display none
  place-items center
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.5)
  z-index 3

  &__form
    display flex
    flex-direction column
    position relative
    gap 20px
    border solid 1.5px border-color
    border-radius 5px
    background-color back-color
    padding 20px
    width 800px
    height auto

  &__reply
    width 100%
    height 40px

  &__draft
    width 100%
    height 60px

  &__header
    position relative

  &__headline
    font-style(normal, 1.2rem, Roboto, text-color)

  &__btn
    align-self center
    width max-width
    border solid 1.5px primary-color

.categorys
  display flex
  justify-content start
  align-items end
  flex-direction column
  width max-content

  &__title
    display flex
    justify-content start
    align-items center
    font-style(normal, 1rem, Roboto, text-color)

  &__radio
    margin 10px 0 10px 20px
    accent-color primary-color

/* стили для страницы поиска */
.search
  width 100%
  height auto

  &__form
    display flex
    align-items center
    justify-content center
    gap 0 30px
    width inherit
    margin-bottom 30px

  &__reply
    border-radius 5px
    width 600px
    height 40px
    font-size 1.5rem

/* стилия для аутентификации */
.auth
  display flex
  position relative
  width 1000px
  height 500px
  border solid 1.5px border-color
  border-radius 10px
  overflow hidden

  .singin,
  .singup
    display flex
    align-items center
    justify-content flex-start
    position relative
    flex-direction column
    width 100%
    height inherit
    padding 30px

    &__header
      position relative
      margin-bottom 40px

    &__headline
      font-style(normal, 2rem, Roboto, text-color)

    &__form
      display inherit
      flex-direction column
      align-items center
      justify-content space-between
      height 400px

    &__reply
      width 400px
      height 40px
      margin-bottom 30px

    &__btn
      padding 10px 20px
      background-color transparent
      margin-bottom 40px

      &_small
        padding 5px 10px
        font-size 0.9rem
        text-decoration underline

.partition
  position absolute
  top 0
  left 0
  width calc(997px / 2)
  height inherit
  background-color back-color
  border-right solid 2px primary-color
  transition all 1s ease-in
  overflow hidden

  &_slide
    transition all 1s ease-in
    transform translateX(100%)
    border-left solid 2px primary-color
    border-right none

  &__circle
    width 300px
    height 300px
    border-radius 50%
    background-color primary-color
    transition transform 1s linear

    &_left
      transform translateX(140%)
      transition transform 1s linear

    &_right
      transform translateX(-130%)
      transition transform 1s linear

    &:first-child
      position absolute
      top -60px
      left -20%

    &:last-child
      position absolute
      bottom -60px
      right -20%

/* стилия для окна с подсказкой */
.hint
  position absolute
  top 20%
  left 50%
  transform translate(-50%, -50%)
  z-index 2
  padding 1rem 2rem
  background-color back-color
  border solid 2px red
  border-radius 10px
  animation fade-up 3s ease-out
  opacity 0

  &__content
    font-style(normal, 1rem, Roboto, text-color)

  @keyframes fade-up {
    0% {
      opacity 0
    }

    50% {
      opacity 1
    }

    100% {
      opacity 0
    }
  }

/* cтили для страницы с пользователя */
.users
  display flex
  justify-content center
  align-items center
  gap 0 20px
  flex-wrap wrap
  margin-top 40px
  width 100%
  height auto

  .card
    display flex
    justify-content space-between
    align-items center
    position relative
    width 400px
    height 200px
    border solid 1.5px border-color
    padding 30px
    border-radius 10px
    margin-bottom 20px

    &__avatar
      width 120px
      height 120px
      border-radius 50%
      border solid 1.5px primary-color
      background-image url('../icons/profile.svg')
      background-size 60%
      background-repeat no-repeat
      background-position center

    &__list
      list-style none

    &__item
      margin-bottom 10px

      &:last-child
        margin-bottom 0

    &__username
      font-style(normal, 1rem, Roboto, text-color)

    &__status,
    &__email,
    &__id
      font-style(normal, .9rem, Roboto, text-color-gr)

    .username
      color primary-color

    &__edit-btn
      position absolute
      bottom 5px
      left 35px
      background-color transparent
      font-size .9rem

///*Стилия для формы отправки отзывов*/
//.post-review
//  display grid
//  place-items center
//  width 1000px
//
//  &__header
//    position relative
//
//  &__headline
//    font-style(bold, 1.3rem, Roboto, text-color)