@import "variables.styl"
@import "mixins.styl"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap')

*
  margin 0
  padding 0
  box-sizing border-box

body
  width 100vh
  height 100%
  background-color back-color


/* стили для шапки сайта */
.header
  position sticky
  top 0
  left 0
  width 100vw
  height 70px

  &__logo
    width 146px
    height 32px
    background-image url('../icons/logo.svg')

  &__nav
    display flex
    justify-content space-between
    align-items center
    position relative
    height inherit
    width inherit
    padding 0 30px

  &__list
    display flex
    gap 0 30px
    height inherit
    list-style none

  &__item
    display grid
    place-content center
    width 100%
    height inherit

  &__link
    display flex
    justify-content center
    align-items center

  &__icon
    background-size 80%
    background-repeat no-repeat
    background-position center
    width 23px
    height 23px

  .search
    background-image url('../icons/search.svg')

  .profile
    background-image url('../icons/user.svg')

.btn
  outline none
  padding 5px
  cursor pointer
  border-radius 5px
  transition background-color .5s linear
  font-style(normal, 1.1rem, Roboto, not-active)
  text-decoration none
  background none
  border none

  &:is(&_hover:hover, &_focus:focus)
    background-color #313131
    color primary-color
