@import "variables.styl"
@import "mixins.styl"
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap')

*
  margin 0
  padding 0
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 3px


::-webkit-scrollbar-button
  background-color #666
  height 0


::-webkit-scrollbar-track
  background-color #999


::-webkit-scrollbar-track-piece
  background-color back-color


::-webkit-scrollbar-thumb
  height 50px
  background-color scroll-color


body
  width 100%
  height 100%
  background-color back-color


/* стили для шапки сайта */
.header
  position fixed
  top 0
  left 0
  width 100%
  height 70px
  background-color back-color
  z-index 2

  &__logo
    width 146px
    height 32px
    background-image url('../icons/logo.svg')

  &__nav
    display flex
    justify-content space-between
    align-items center
    position relative
    height inherit
    width inherit
    padding 0 30px

  &__list
    display flex
    gap 0 30px
    height inherit
    list-style none

  &__item
    display grid
    place-content center
    width 100%
    height inherit

  &__link
    display flex
    justify-content center
    align-items center

  &__icon
    background-size 60%
    background-repeat no-repeat
    background-position center
    width 31px
    height 31px

  .search-icon
    background-image url('../icons/search.svg')

  .profile-icon
    background-image url('../icons/user.svg')

/* глобалньные стили для кнопок */
.btn
  outline none
  padding 5px
  cursor pointer
  border-radius 5px
  transition background-color .5s linear,
  color .5s linear
  font-style(normal, 1.1rem, Roboto, not-active)
  text-decoration none
  border none

  &:is(&_hover:hover, &_focus:focus, &_active):not(&_delete)
    background-color #313131
    color primary-color

  &_disabled
    border solid 2px #ec4d4d

  &_delete
    border solid 2px #ec4d4d
    color text-color

    &:hover
      color #ec4d4d


main
  display grid
  place-items center
  position relative
  margin-top 80px

/* стили для блока с постами */
.posts
  display flex
  justify-content center
  align-items center
  flex-direction column
  width 100%

.post
  display grid
  grid-template-rows repeat(auto-fit, minmax(min-content, 1fr))
  grid-template-columns repeat(auto-fit, minmax(200px, 1fr))
  width 700px
  height auto
  border solid 1.5px border-color
  border-radius 5px
  padding 20px
  margin-bottom 20px

  &__header
    grid-row 1 / 2
    grid-column 1 / 4
    width 100%

  &__headline
    font-style(bold, 1.5rem, null, primary-color)

  &__description
    display -webkit-box
    grid-row 2 / 3
    grid-column 1 / 4
    -webkit-line-clamp 6
    -webkit-box-orient vertical
    text-align justify
    width 100%
    max-height 200px
    margin 10px 0
    font-style(normal, 1rem, Roboto, text-color)
    overflow hidden

  &__category
    grid-row 3 / 4
    justify-self start
    align-self center
    font-style(normal, 0.9rem, null, text-color-gr)
    width max-content
    margin-bottom 5px

  &__date-published
    grid-row 4 / 5
    justify-self start
    align-self center
    font-style(normal, 0.9rem, null, text-color-gr)
    width max-content

  &__comments
    grid-row 5 / 6
    justify-self start
    align-self center
    padding-top 5px
    font-style(normal, 0.9rem, null, text-color-gr)

  &__link
    grid-row 5 / 6
    grid-column 3 / 4
    justify-self end
    align-self center

  &__delete
    grid-column 3 / 4
    grid-row 7 / 8
    justify-self end
    margin-top 10px

  &__read
    grid-row 6 / 7

  &__edit
    grid-column 1 / 2
    grid-row 6 / 7
    justify-self start
    background-color transparent

.back-btn
  position absolute
  top 0
  left 30px
  width 50px
  height 50px
  background-image url('../icons/back.svg')
  background-size 80%
  background-repeat no-repeat
  background-position center
  border-radius 50%
  z-index 10

/* стили для формы с комменатриями */
.comments
  position relative
  height auto

  .form
    display grid
    place-items center start
    grid-template-columns auto 31px
    width 700px
    height 100%
    position relative
    margin-bottom 50px

    &:after
      content ''
      position absolute
      bottom -20px
      right 0
      transform translate(-50%, -50%)
      background-color line
      width 50%
      height 1.5px


    &__reply
      width 660px
      height 33px

    &__btn
      background-color transparent
      width max-content

    &__icon
      width 33px
      height 33px
      background-size 60%
      background-repeat no-repeat
      background-position center

    .send
      background-image url('../icons/send.svg')

  .comment
    display grid
    grid-template-columns repeat(auto-fill, minmax(min-content, 1fr))
    grid-template-rows repeat(auto-fill, minmax(min-content, 1fr))
    place-items center start
    position relative
    width 700px
    height auto
    border solid 1.5px border-color
    padding 15px
    border-radius 5px
    margin-bottom 20px

    &__content
      grid-column 1 / 4
      width 100%
      height auto
      text-align justify
      font-style(normal, 1rem, Roboto, text-color)
      margin-bottom 10px
      word-wrap break-word


    &__date-publication,
    width max-content
      font-style(normal, 0.9rem, null, text-color-gr)

    &__btn
      width 31px
      height 31px
      background-size 65%
      background-repeat no-repeat
      background-position center

    .edit-btn
      position absolute
      top 50%
      right -60px
      transform translate(-50%, -50%)
      background-image url('../icons/edit.svg')

    .delete-btn
      position absolute
      top 50%
      right -100px
      transform translate(-50%, -50%)
      background-image url('../icons/cross.svg')

.reply
  resize none
  outline none
  background transparent
  font-style(normal, 1rem, Roboto, text-color)
  border solid 1.5px border-color
  transition border .2s linear
  padding 0 10px
  border-radius 10px

  &:is(&_focus:focus, &_hover:hover)
    border-color primary-color

/* стили для профиля */
.profile
  display grid
  grid-template-columns 250px 1fr
  place-items center start
  position relative
  width 700px
  min-height 250px
  border solid 1.5px border-color
  border-radius 10px

  &__avatar
    justify-self center
    padding 60px
    border solid 1.5px border-color
    border-radius 50%

  &__list
    list-style none

  &__item
    margin 10px 0

  &__username
    font-style(normal, 1.2rem, Roboto, text-color)

  .username
    color primary-color
    font-weight bold

  &__status,
  &__email
    font-style(normal, 0.9rem, Roboto, text-color-gr)

  &__logout
    position absolute
    bottom 20px
    right 20px

  &__wrap
    display none
    place-items center
    position fixed
    top 0
    left 0
    width 100%
    height 100vh
    background-color rgba(0, 0, 0, 0.5)
    z-index 2

  &__edit-profile
    position absolute
    bottom 10px
    left 30px
    background-color transparent
    font-size 1rem

  &__form
    width 800px
    height auto

  &__form-wrap
    display flex
    flex-direction column
    position relative
    gap 20px
    border solid 1.5px border-color
    border-radius 5px
    background-color back-color
    padding 20px
    height inherit

  &__reply
    width 100%
    height 40px
    border-radius 5px

  &__btn
    width max-content
    background-color transparent
    align-self center


.user-posts
  margin-top 10px

  &__header
    margin 20px 0

  &__headline
    font-style(normal, 2rem, Roboto, text-color)

.add-post
  position fixed
  bottom 30px
  right 30px
  width 40px
  height 40px
  background-image url('../icons/plus.svg')
  background-size 50%
  background-repeat no-repeat
  background-position center
  border solid 1.5px primary-color
  background-color transparent


/* Стили для формы создания и редактирования поста */
.post-editor,
.post-edit
  display none
  place-items center
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color rgba(0, 0, 0, 0.5)
  z-index 3

  &__btn
    width max-content
    background-color transparent
    align-self center

  .form
    width 800px
    height auto

    &__wrap
      display flex
      flex-direction column
      position relative
      gap 20px
      border solid 1.5px border-color
      border-radius 5px
      background-color back-color
      padding 20px
      height inherit

    &__title-post
      width 100%
      height 40px
      border-radius 5px

    &__content-post
      width 100%
      height 60px
      border-radius 5px
      padding 10px

    &__header
      position relative

    &__headline
      font-style(normal, 1.2rem, Roboto, text-color)

    .categorys
      display flex
      justify-content start
      align-items end
      flex-direction column
      width max-content

      &__title
        display flex
        justify-content start
        align-items center
        font-style(normal, 1rem, Roboto, text-color)

      &__radio
        margin 10px 0 10px 20px
        accent-color primary-color

    &__btn
      align-self center
      width 150px
      background-color transparent
      border solid 1.5px primary-color

/* стили для страницы поиска */
.search
  width 100%
  height auto

  &__form
    display flex
    align-items center
    justify-content center
    gap 0 30px
    width inherit
    margin-bottom 30px

  &__input
    border-radius 5px
    width 600px
    height 40px
    font-size 1.5rem

  &__btn
    width 41px
    height 41px
    background-image url('../icons/search.svg')
    background-size 50%
    background-repeat no-repeat
    background-position center
    background-color transparent

/* стилия для аутентификации */
.auth
  display flex
  position relative
  width 1000px
  height 500px
  border solid 1.5px border-color
  border-radius 10px
  overflow hidden

  .singin,
  .singup
    display flex
    align-items center
    justify-content flex-start
    position relative
    flex-direction column
    width 100%
    height inherit
    padding 30px

    &__header
      position relative
      margin-bottom 40px

    &__headline
      font-style(normal, 2rem, Roboto, text-color)

    &__form
      display inherit
      flex-direction column
      align-items center
      justify-content space-between
      height 400px

    &__input
      width 400px
      height 40px
      margin-bottom 30px

    &__btn
      padding 10px 20px
      background-color transparent
      margin-bottom 40px

      &_small
        padding 5px 10px
        font-size 0.9rem
        text-decoration underline

.partition
  position absolute
  top 0
  left 0
  width calc(997px / 2)
  height inherit
  background-color back-color
  border-right solid 2px primary-color
  transition all 1s ease-in
  overflow hidden

  &_slide
    transition all 1s ease-in
    transform translateX(100%)
    border-left solid 2px primary-color
    border-right none

  &__circle
    width 300px
    height 300px
    border-radius 50%
    background-color primary-color
    transition transform 1s linear

    &_left
      transform translateX(140%)
      transition transform 1s linear

    &_right
      transform translateX(-130%)
      transition transform 1s linear

    &:first-child
      position absolute
      top -60px
      left -20%

    &:last-child
      position absolute
      bottom -60px
      right -20%

.hint
  position absolute
  top 20%
  left 50%
  transform translate(-50%, -50%)
  z-index 2
  padding 1rem 2rem
  background-color back-color
  border solid 2px red
  border-radius 10px
  animation fade-up 3s ease-out
  opacity 0


  &__content
    font-style(normal, 1rem, Roboto, text-color)

  @keyframes fade-up {
    0% {
      opacity 0
    }

    50% {
      opacity 1
    }

    100% {
      opacity 0
    }
  }

/* cтили для страницы с пользователя */
.users
  display flex
  justify-content center
  align-items center
  gap 0 20px
  flex-wrap wrap
  margin-top 40px
  width 100%
  height auto

  .card
    display flex
    justify-content space-between
    align-items center
    position relative
    width 400px
    height 200px
    border solid 1.5px border-color
    padding 30px
    border-radius 10px
    margin-bottom 20px

    &__avatar
      width 120px
      height 120px
      border-radius 50%
      border solid 1.5px primary-color
      background-image url('../icons/profile.svg')
      background-size 60%
      background-repeat no-repeat
      background-position center


    &__list
      list-style none

    &__item
      margin-bottom 10px

      &:last-child
        margin-bottom 0

    &__username
      font-style(normal, 1rem, Roboto, text-color)

    &__status,
    &__email,
    &__id
      font-style(normal, .9rem, Roboto, text-color-gr)

    .username
      color primary-color

    &__edit-btn
      position absolute
      bottom 5px
      left 35px
      background-color transparent
      font-size .9rem